version: "3.8"
services:
   #===========================>> Portal
  portal:
    container_name: node-auth-portal
    build:
      context: ./portal/.
      dockerfile: Dockerfile
    ports:
      - 8080:8080
    environment:
      PORT: 8080
    volumes: 
      - ./portal/src:/usr/app/src
      - ./portal/public:/usr/app/public